html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

/* *Typefaces:* (Already included in your HTML)
- *Text sizes:* `1rem`, `1.125rem`, `1.5rem`, `2rem`
- *Colours:* `#e2e2e2`, `#3783a3`, `#000`
- *Max lengths:* `30em`
- *Gaps:* `1rem`
- *Margins:* `1.5rem`
- *Paddings:* `.5em 1em .6em`, `1rem`, `.5rem`
- *Border thicknesses:* `.2rem`
- *Corner radii:* `.3rem` */

img {
  display: block;
  width: 100%;
}

main {
  display: contents;
}

main img {
  margin-top: -1rem;
}

header {
  display: grid;
  grid-template-columns: auto 10em auto;
  grid-template-rows: auto 1.5rem;
  margin-top: -1rem;
  align-items: center;
}

section img {
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  z-index: 0;
  grid-column: 1 / -1;
  grid-row: 1;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "col1 col2 col3";
  gap: 1rem;
}

header ul li a {
  margin: 0;
  padding: .5em 1em .6em;
  padding-right: 0;
}

nav li {
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin: 0;
}

li a {
  color: #3783a3;
  font-size: 1.125rem;
}

nav ul {
  list-style-type: none;
  text-decoration: none;

  display: flex;
  justify-content: space-around;
  height: 100%;
}

h1 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  z-index: 0;
  grid-column: 1;
  grid-row: 1;
  font-size: 1.125rem;
  font-weight: bold;
}

h1,
h2 {
  margin: 0;
  padding: .5em 1em .6em;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1rem;
  margin-left: -1rem;
}

header i {
  font-size: 2rem;
}

section i {
  font-size: 1.5rem;
}

div {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  text-align: center;
  border-top: .2rem solid #e2e2e2;
  border-bottom: .2rem solid #e2e2e2;
}

.intro {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  margin: 1.5rem;
  align-items: center;
  align-self: center;
}

div i {
  font-size: 2rem;
}

section a {
  border: .2rem solid #3783a3;
  border-radius: .3rem;
  text-decoration: none;
  padding: .5em 1em .6em;
  color: #3783a3;
  display: flex;
}

section p {
  display: flex;
  justify-content: center;
}

footer {
  padding: 1rem;
  margin: 1.5rem;
  align-items: center;
  border-top: .2rem solid #e2e2e2;
  font-size: 1rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 38em) {

  body {
    padding: 1rem;
  }

  main {
    display: contents;
  }

  header {
    display: grid;
    grid-template-columns: auto 10em auto;
    grid-template-rows: auto 1.5rem;
    padding: 0;
    align-items: center;
  }
}
