html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

/* *Typefaces:* (Already included in your HTML)
- *Text sizes:* `1rem`, `1.125rem`, `1.5rem`, `2rem`
- *Colours:* `#e2e2e2`, `#3783a3`, `#000`
- *Max lengths:* `30em`
- *Gaps:* `1rem`
- *Margins:* `1.5rem`
- *Paddings:* `.5em 1em .6em`, `1rem`, `.5rem`
- *Border thicknesses:* `.2rem`
- *Corner radii:* `.3rem` */

img {
  display: block;
  width: 100%;
}

header {
  padding: .5em 1em .6em;
}

i {
  font-size: 2rem;
}
article {
  display: grid;
  grid-template-columns: repeat(3 1fr);
  grid-column: 3;
  gap: 1rem;
}

nav ul {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  list-style-type: none;
}

.navigation {
  grid-area: banner;
}

.intro {
  border-radius: .3rem;
}

nav li {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 0;
}

li a {
  color: #3783a3;
  font-size: 1.5rem;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
  margin: 1rem;

  display: flex;
  justify-content: space-around;
  height: 100%;
}

/* @media only screen and (min-width: 38em) {
  li {
    max-width: 30em;
  }
} */

/* display: flex;
align-items: center;
justify-content: space-between;
list-style-type: none; */
