html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

/* *Typefaces:* (Already included in your HTML)
- *Text sizes:* `1rem`, `1.125rem`, `1.5rem`, `2rem`
- *Colours:* `#e2e2e2`, `#3783a3`, `#000`
- *Max lengths:* `30em`
- *Gaps:* `1rem`
- *Margins:* `1.5rem`
- *Paddings:* `.5em 1em .6em`, `1rem`, `.5rem`
- *Border thicknesses:* `.2rem`
- *Corner radii:* `.3rem` */

img {
  display: block;
  width: 100%;
}

nav {
  padding: 0;


  display: flex;
  justify-content: flex-end;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "col1 col2 col3";
  gap: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  padding: .75em 1em .6em;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

header ul li a {
  margin: .5rem;
  padding: .75em 1em .6em;
}

nav li {
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin-top: 0;
}

li a {
  color: #3783a3;
  font-size: 1.5rem;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
  margin: 1rem;

  display: flex;
  justify-content: space-around;
  height: 100%;
}

/* header {
  padding: .5em 1em .6em;
} */

/* header {
  display: contents;

  grid-area: banner;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "banner banner banner"
    "span span span"
    "col1 col2 col3"
    "footer footer footer";
}

h2 {
  grid-area: banner;
  margin: 1rem;
}

main {
  display: contents;
}

i {
  font-size: 2rem;
}

.into {
  align-items: center;
}


/*
/* section {
  list-style-type: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 3fr));
  gap: 1em;
  }*/


/* @media only screen and (min-width: 38em) {

  header {
    display: contents;
  }

  body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "banner banner banner"
    "span span span"
    "col1 col2 col3"
    "footer footer footer";
  }

  h2 {
    grid-area: banner;
    margin: .5rem 0;
  }

  main {
    display: contents;
  }
} */


/* display: flex;
align-items: center;
justify-content: space-between;
list-style-type: none; */
